
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <hr />
    <h2 class="w3-wide w3-center"><b>About</b></h2>
    <hr />
</div>

<div class="text-center">
    <h3 class="text-danger">ମଡର୍ନ କୋଚିଙ୍ଗ ସେଣ୍ଟର | MODERN COACHING CENTRE</h3>
    
</div>
<div>
    <p class="font-weight-bold">
        ଏକ ଭଲ କୋଚିଂ ସେଣ୍ଟର ସେମାନଙ୍କ ପ୍ରତ୍ୟେକ ଛାତ୍ରଙ୍କୁ ଧ୍ୟାନ ଦେବାରେ ସକ୍ଷମ ହେବ | ଏହିପରି ଛାତ୍ରମାନେ ସେମାନଙ୍କର ଶକ୍ତିଶାଳୀ ଏବଂ ଦୁର୍ବଳ ଅଂଶଗୁଡିକ ଜାଣିପାରିବେ ଏବଂ ଏହା ଉପରେ ଅଧିକ କାର୍ଯ୍ୟ କରିବେ | ବିଦ୍ୟାଳୟରେ ଛାତ୍ରମାନେ ଏହି ପ୍ରକାରର ଧ୍ୟାନ ପାଇବା ଆବଶ୍ୟକ ନୁହେଁ ଯେଉଁଠାରେ ଶିକ୍ଷକମାନେ ସିଲାବସ୍ ଆବୃତ୍ତି କରିବାକୁ ତତ୍ପର ଅଟନ୍ତି |
        କୋଚିଂ ପ୍ରତିଷ୍ଠାନଗୁଡିକ 9 ରୁ 12 ଶ୍ରେଣୀ ପର୍ଯ୍ୟନ୍ତ ଛାତ୍ରମାନଙ୍କ ପାଇଁ ସଠିକ୍ ମାର୍ଗଦର୍ଶନ ପ୍ରଦାନ କରନ୍ତି, ଯେଉଁମାନେ ବୋର୍ଡ ପରୀକ୍ଷା, ପ୍ରତିଯୋଗିତାମୂଳକ ପରୀକ୍ଷା, ପ୍ରବେଶିକା ପରୀକ୍ଷା ଇତ୍ୟାଦି ପାଇଁ ପ୍ରସ୍ତୁତ ହେବା ଆବଶ୍ୟକ କରନ୍ତି |
    </p>
</div>
<div>
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        
        <p class="w3-opacity w3-center"><i>Please? Feel Free Contact Us!</i></p>
        <div class="w3-row w3-padding-32">
            <div class="w3-col m6 w3-large w3-margin-bottom">
                <i class="fa fa-map-marker" style="width:30px"></i>TARATA SASAN,ASURESWARA,754209<br>
                <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
                <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
            </div>
            <div class="w3-col m6">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1869.1660033978035!2d86.24990100078296!3d20.45155250000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a197d60dd3af7e3%3A0x3824912efa080b32!2sMODERN%20COACHING%20CENTRE!5e0!3m2!1sen!2sin!4v1664344474125!5m2!1sen!2sin" width="" height="" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

