@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">


    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
        <img src="~/Image/download.jfif" style="width:70%;height:400px;">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <h3 class="text-danger">Los Angeles</h3>
            <p class="text-danger"><b>We had the best time playing at Venice Beach!</b></p>
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="~/Image/images.jfif" style="width: 100%;height:400px;">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <h3 class="text-danger">New York</h3>
            <p class="text-danger"><b>The atmosphere in New York is lorem ipsum.</b></p>
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="~/Image/media_16ad2258cac6171d66942b13b8cd4839f0b6be6f3.png" style="width: 100%;height:400px;">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <h3 class="text-danger">Chicago</h3>
            <p class="text-danger"><b>Thank you, Chicago - A night we won't forget.</b></p>
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="~/Image/Cat03.jpg" style="width: 100%;height:400px;">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <h3 class="text-danger">Chicago</h3>
            <p class="text-danger"><b>Thank you, Chicago - A night we won't forget.</b></p>
        </div>
    </div>
    <hr />
    <!-- The Band Section -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <h2 class="w3-wide"><b style="color:red">MODERN COACHING CENTRE</b><b style="color:green">(ମଡର୍ନ କୋଚିଙ୍ଗ ସେଣ୍ଟର)</b></h2>
        <p class="w3-opacity"><i>We love To Teaching</i></p>
        <hr />
        <p class="w3-justify">
            <b>
                କୋଚିଂ ଇନଷ୍ଟିଚ୍ୟୁଟ୍ ଛାତ୍ରମାନଙ୍କୁ ସଠିକ୍ ମାର୍ଗଦର୍ଶନ ପ୍ରଦାନ କରିଥାଏ କାରଣ ଶ୍ରେଣୀ 9 ରୁ ଦ୍ୱାଦଶ ଶ୍ରେଣୀ ପର୍ଯ୍ୟନ୍ତ ଛାତ୍ରଛାତ୍ରୀମାନେ ବୋର୍ଡ ପରୀକ୍ଷା, ପ୍ରତିଯୋଗିତାମୂଳକ ପରୀକ୍ଷା, ପ୍ରବେଶିକା ପରୀକ୍ଷା ଇତ୍ୟାଦି ପାଇଁ ପ୍ରସ୍ତୁତ ହେବା ଆବଶ୍ୟକ | କୋଚିଂ ପ୍ରତିଷ୍ଠାନରେ ଛାତ୍ରମାନେ କେବଳ ଏକାଡେମିକ୍ ମାର୍ଗଦର୍ଶନ ପାଇନାହାଁନ୍ତି ବରଂ ସେମାନେ କ୍ୟାରିୟର ବିକଳ୍ପ ଏବଂ ଅଧିକାର ବିଷୟରେ ମଧ୍ୟ ଜାଣିପାରିବେ | ସେମାନଙ୍କର ଆଗ୍ରହ ଏବଂ ଏକାଡେମିକ୍ ରେକର୍ଡ ଅନୁଯାୟୀ ଲକ୍ଷ୍ୟଗୁଡିକ | କୋଚିଂ ପ୍ରତିଷ୍ଠାନଗୁଡ଼ିକ ଆଡମିଶନ ଏବଂ କ୍ୟାରିୟର ଗାଇଡେସନ୍ରେ ପ୍ରକୃତରେ ସାହାଯ୍ୟକାରୀ |
                କୋଚିଂ ପ୍ରତିଷ୍ଠାନଗୁଡିକରେ ଛାତ୍ରମାନେ ବ୍ୟକ୍ତିଗତ ଧ୍ୟାନ ପାଆନ୍ତି କାରଣ ବିଦ୍ୟାଳୟର ଶିକ୍ଷକମାନେ ପ୍ରତ୍ୟେକ ଶ୍ରେଣୀରେ 40-60 ଜଣ ଛାତ୍ରଙ୍କ ସହିତ ମୁକାବିଲା କରିବାକୁ ପଡିବ ଏବଂ ସାଧାରଣତ each ପ୍ରତ୍ୟେକ ଅବଧି ପାଇଁ ଆବଣ୍ଟିତ ସମୟ ମଧ୍ୟରେ ବିଷୟଗୁଡ଼ିକ ପାଇଁ ସେମାନଙ୍କ ସିଲାବସ୍ ଆବୃତ୍ତି ଉପରେ ଧ୍ୟାନ ଦେବେ | ଏହା ଶିକ୍ଷକମାନଙ୍କ ପାଇଁ ପ୍ରତ୍ୟେକ ଛାତ୍ର ଉପରେ ଧ୍ୟାନ ଦେବା କଷ୍ଟକର କରିଥାଏ ଏବଂ ତେଣୁ ଛାତ୍ରମାନେ ଉପଯୁକ୍ତ ମାର୍ଗଦର୍ଶନ ପାଇବାରେ ସକ୍ଷମ ନୁହଁନ୍ତି | ତଥାପି, କୋଚିଂ ପ୍ରତିଷ୍ଠାନଗୁଡ଼ିକରେ, ସେମାନଙ୍କର ଆବଶ୍ୟକତା ଅନୁଯାୟୀ ଛାତ୍ରମାନଙ୍କର ଶିକ୍ଷା ଏବଂ ବିକାଶ ଉପରେ ଧ୍ୟାନ ଦିଆଯାଇଛି |
            </b>
        </p>
        <div class="w3-row w3-padding-32">
            <div class="w3-third">
                <p>CEO</p>
                <img src="~/Image/download.jfif" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
            </div>
            <div class="w3-third">
                <p>English</p>
                <img src="~/Image/images11.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
            </div>
            <div class="w3-third">
                <p>Name</p>
                <img src="~/Image/Cat03.jpg" class="w3-round" alt="Random Name" style="width:60%">
            </div>
        </div>
    </div>

    @*The Tour Section*@
    <div class="w3-blackd" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide w3-center">Our Teacher</h2>
            <p class="w3-opacity w3-center"><i>Best Teachers!</i></p><br>

            <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                <div class="w3-third w3-margin-bottom">
                    <img src="~/Image/images (1).jfif" alt="New York" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                        <p><b>New York</b></p>
                        <p class="w3-opacity">Fri 27 Nov 2016</p>
                        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>

                    </div>
                </div>
                <div class="w3-third w3-margin-bottom">
                    <img src="~/Image/images (2).jfif" alt="Paris" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                        <p><b>Paris</b></p>
                        <p class="w3-opacity">Sat 28 Nov 2016</p>
                        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>

                    </div>
                </div>
                <div class="w3-third w3-margin-bottom">
                    <img src="~/Image/images (3).jfif" alt="Paris" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                        <p><b>Paris</b></p>
                        <p class="w3-opacity">Sat 28 Nov 2016</p>
                        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>

                    </div>
                </div>
                <div class="w3-third w3-margin-bottom">
                    <img src="~/Image/images (4).jfif" alt="Paris" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                        <p><b>Paris</b></p>
                        <p class="w3-opacity">Sat 28 Nov 2016</p>
                        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>

                    </div>
                </div>
                <div class="w3-third w3-margin-bottom">
                    <img src="~/Image/images.jfif" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                        <p><b>San Francisco</b></p>
                        <p class="w3-opacity">Sun 29 Nov 2016</p>
                        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ticket Modal -->
    <!--<div id="ticketModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal w3-center w3-padding-32">
                <span onclick="document.getElementById('ticketModal').style.display='none'"
                      class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
            </header>
            <div class="w3-container">
                <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
                <input class="w3-input w3-border" type="text" placeholder="How many?">
                <p><label><i class="fa fa-user"></i> Send To</label></p>
                <input class="w3-input w3-border" type="text" placeholder="Enter email">
                <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
                <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
                <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
            </div>
        </div>
    </div>-->
    <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2 class="w3-wide w3-center">Feedback</h2>
        <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
        <div class="w3-row w3-padding-32">
            @*<div class="w3-col m6 w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
                    <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
                </div>*@
            <div class="w3-col m6">
                <form>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                        </div>
                    </div>
                    <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                    <button class="w3-button w3-blackd w3-section w3-right" type="button">SEND</button>
                </form>
            </div>
        </div>
    </div>

    <!-- End Page Content -->
    <!-- Image of location/map -->




</div>
<script type="text/javascript">
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
       
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000);
    }

</script>
